
@import url('./root.css');

header {
  display: flex;
  flex-wrap: wrap;
}

header a {
  text-decoration: none;
  color: black;
  font-size: var(--font-size);
}


header input {
  padding: var(--space-xs);
  border: 1px solid var(--imagens);
  border-radius: 5px;
  margin-top: var(--space-sm);
}

header input:focus {
  outline: none;
  border: 1px solid var(--botao)
}

header button {
  padding: var(--space-sm);
  margin: var(--space-xs);
  margin-top: var(--space-sm);
  background-color: white;
  border: 1px solid var(--botao);
  border-radius: 5px;
  color: var(--botao);
}

header button:hover {
  color: white;
  background-color: var(--botao);
}

.principal  {
  border: 1px solid white ;
  background-color: var(--fundo);
}


nav h2 {
  margin: var(--space-sm);
}

nav p {
  font-size: var(--font-size);
}

nav button:first-of-type {
  padding: var(--space-sm);
  background-color: var(--botao);
  border: 1px solid var(--botao);
  border-radius: 5px;
  color: white;
  margin: var(--space-sm);
}

nav button:first-of-type:hover {
  background-color: #40746edf;
  cursor: pointer;
}

nav button:last-of-type {
  padding: var(--space-sm);
  background-color: white;
  border: 1px solid var(--botao);
  border-radius: 5px;
  color: var(--botao);
  margin: var(--space-sm);
}

nav button:last-of-type:hover {
  cursor: pointer;
  background-color: var(--botao);
  color: white;
}

.image {
  display: block;
  margin: var(--space-xs);
  width: 280px;
  border: 1px solid var(--imagens);
  border-radius: 5px;
}

.categorias-title {
  padding: var(--space-xs);
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  width: fit-content;
}

.lista-categorias a,
.cards a {
  text-decoration: none;
  outline: none;
  color: black;
}

.lista-categorias a:hover,
.cards a:hover {
  text-decoration: underline;
  outline: none;
}

.cards h4 {
  display: flex;
  align-items: flex-end;
  border: 1px solid var(--fundo);
  background-color: white;
  border-radius: 0 8px 8px 0;
  padding:  1rem;
  margin: 0;
  min-width: 200px;
  min-height: 80px;
}


.categorias-geral {
  padding: var(--space-xs)
}

.lista-categorias p {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--fundo);
  background-color: white;
  border-radius: 0 8px 8px 0;
  padding:  var(--space-sm);
  margin: var(--space-xs);
  max-width: 120px;
  max-height: 100px;
}

.title-destaque {
  padding: var(--space-xs);
}


.destaque {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--fundo);
  background-color: white;
  border-radius: 0 8px 8px 0;
  padding:  1rem;
  margin: var(--space-xs);
  max-width: 200px;
  min-height: 80px;
}

.destaque .image {
  width: 180px;
}

.destaque-dois {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--fundo);
  background-color: white;
  border-radius: 0 8px 8px 0;
  padding:  1rem;
  margin: 0;
  max-width: 200px;
  min-height: 80px;
}

.destaque-dois .image {
  width: 180px;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--fundo);
  background-color: white;
  border-radius: 0 8px 8px 0;
  padding:  1rem;
  margin: var(--space-xs);
  max-width: 200px;
  min-height: 80px;
}

aside h4 {
  padding:var(--space-xs)
}

aside li {
  padding: var(--space-xs);
  list-style: disc;
  list-style-position: inside;
}

footer h4 {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--fundo);
  background-color: white;
  border-radius: 0 8px 8px 0;
  padding:  var(--space-xs);
  margin: var(--space-xs);
  max-width: 90px;
  max-height: 80px;
}

footer::after {
  content: "© 2025 Meu site • Meu Site";
  display: block;
  flex-basis: 100%;
  margin-top: 20px;
  font-size: 12px;
  color:rgb(193, 193, 193);
  text-align: start;
}

