
/* Seção de introdução */
.intro {
  text-align: center;
  padding: var(--space-md);
  background-color: var(--fundo);
  color: var(--texto);
}

.intro h2 {
  font-size: 1.25rem;
  margin-bottom: var(--space-sm);
}

.intro p {
  font-size: var(--font-size);
  margin-bottom: var(--space-sm);
}

.intro-actions {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  margin-bottom: var(--space-sm);
}

.intro-actions button:first-of-type {
  padding: var(--space-sm);
  border: 1px solid var(--botao);
  border-radius: 5px;
  background-color: var(--botao);
  color: white;
  cursor: pointer;
}

.intro-actions button:last-of-type {
  padding: var(--space-sm);
  border: 1px solid var(--botao);
  border-radius: 5px;
  background-color: white;
  color: var(--botao);
  cursor: pointer;
}

.intro-actions button:hover {
  background-color: #40746ecd;
}

.intro-actions button:last-of-type:hover {
  background-color: var(--botao);
  color: white;
}


.image {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  border-radius: 8px;
  border: 1px solid var(--imagens);
}

/* Seção de categorias */
.categorias {
  padding: var(--space-md);
  background-color: var(--fundo);
}

.cards h4 {
  border: 1px solid var(--fundo);
  border-radius: 5px;
  background-color: white;
  padding: var(--space-xs);
  width: 120px;
}

.lista-categorias {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}
.lista-categorias p {
  border: 1px solid var(--fundo);
  border-radius: 5px;
  background-color: white;
  padding: var(--space-xs);
  width: 120px;
}

.cards a,
.lista-categorias a {
  text-decoration: none;
  color: var(--texto); 
}

.cards a:visited,
.lista-categorias a:visited {
  color: var(--texto); /* força a cor mesmo se o link já foi visitado */
  text-decoration: none;
}

.cards a:hover h4,
.lista-categorias a:hover p {
  text-decoration: underline;
}

/* Seção de destaques */
.destaques {
  padding: var(--space-md);
  background-color: var(--fundo);
}

.title-destaque {
  font-size: 1.2rem;
  margin-bottom: var(--space-sm);
  color: var(--texto);
}

.destaque {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-xs);
    margin-bottom: var(--space-md);
    border: 1px solid var(--fundo);
    border-radius: 5px;
    background-color: white;
    padding: var(--space-xs);
    width: 250px;
}

.destaque img {
  width: 100%;
  max-width: 150px;
  border-radius: 8px;
  border: 1px solid var(--imagens);
}

/* Aside do editor */
.editor {
  padding: var(--space-md);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--space-sm);
}

.editor h4 {
  font-size: 1.2rem;
  margin-bottom: var(--space-sm);
  color: var(--texto);
}

.editor-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-xs);
  margin-bottom: var(--space-md);
  border: 1px solid var(--fundo);
  border-radius: 5px;
  background-color: white;
  padding: var(--space-xs);
  width: 120px;
}